<h1>Academic Path</h1>
<section class="projects dotnet">
    <h2>Projects during my Bachelor</h2>
    <section class="institutions dotnet">
        <h2>Institutions</h2>
        <ul>
            <li>
                @Html.Partial("~/Views/Content/Partials/Companies/_Polimi.cshtml")
            </li>
            <li>
                @Html.Partial("~/Views/Content/Partials/Companies/_Freelancer.cshtml")
            </li>
            <li>
                @Html.Partial("~/Views/Content/Partials/Companies/_Pharmiweb.cshtml")
            </li>
        </ul>
    </section>
    <ul>
        <li class="left">
            @Html.Partial("~/Views/Content/Partials/Projects/_GameDev.cshtml")
        </li>
        <li class="right">
            @Html.Partial("~/Views/Content/Partials/Projects/_DigitalSignature.cshtml")
        </li>
        <li class="left">
            @Html.Partial("~/Views/Content/Partials/Projects/_ProxyTester.cshtml")
        </li>
        <li class="left">
            @Html.Partial("~/Views/Content/Partials/Projects/_DatabaseMailer.cshtml")
        </li>
    </ul>
</section>
