<h1>Academic Path</h1>
<section class="projects frontend">
    <h2>Projects during my Bachelor</h2>
    <section class="institutions frontend">
        <h2>Institutions</h2>
        <ul>
            <li>
                @Html.Partial("~/Views/Content/Partials/Companies/_Polimi.cshtml")
            </li>
            <li>
                @Html.Partial("~/Views/Content/Partials/Companies/_Pharmiweb.cshtml")
            </li>
        </ul>
    </section>
    <section class="certifications frontend">
        <h2>Certifications</h2>
        <ul>
            <li>
                @Html.Partial("~/Views/Content/Partials/Certifications/_Css3.cshtml")
            </li>
            <li>
                @Html.Partial("~/Views/Content/Partials/Certifications/_Jquery.cshtml")
            </li>
            <li>
                @Html.Partial("~/Views/Content/Partials/Certifications/_Javascript.cshtml")
            </li>
        </ul>
    </section>

    <ul>
        <li>
            @Html.Partial("~/Views/Content/Partials/Projects/_Assopar.cshtml")
        </li>
        <li>
            @Html.Partial("~/Views/Content/Partials/Projects/_UsFlag.cshtml")
        </li>
        <li>
            @Html.Partial("~/Views/Content/Partials/Projects/_Calculator.cshtml")
        </li>
        <li>
            @Html.Partial("~/Views/Content/Partials/Projects/_DvaMaintenance.cshtml")
        </li>
        <li>
            @Html.Partial("~/Views/Content/Partials/Projects/_ThisWebsite.cshtml")
        </li>
    </ul>
</section>
