<h1>Academic Path</h1>
<section class="projects frontend">
    <h2>Projects as System Integrator</h2>
    <section class="institutions frontend">
        <h2>Institutions</h2>
        <ul>
            <li>
                @Html.Partial("~/Views/Content/Partials/Companies/_Innovery.cshtml")
            </li>
        </ul>
    </section>
    <ul>
        <li class="left">
            @Html.Partial("~/Views/Content/Partials/Projects/_IdmNaples.cshtml")
        </li>
        <li class="right">
            @Html.Partial("~/Views/Content/Partials/Projects/_SecurityGroups.cshtml")
        </li>
        <li class="right">
            @Html.Partial("~/Views/Content/Partials/Projects/_PhpHardening.cshtml")
        </li>
        <li class="right">
            @Html.Partial("~/Views/Content/Partials/Projects/_IdentityMasking.cshtml")
        </li>
    </ul>
</section>
