<h1>Academic Path</h1>
<section class="projects java">
    <h2>Projects with Java</h2>
    <section class="institutions java">
        <h2>Institutions</h2>
        <ul>
            <li>
                @Html.Partial("~/Views/Content/Partials/Companies/_Polimi.cshtml")
            </li>
            <li>
                @Html.Partial("~/Views/Content/Partials/Companies/_Innovery.cshtml")
            </li>
        </ul>
    </section>
    <section class="certifications java">
        <h2>Certifications</h2>
        <ul>
            <li>
                @Html.Partial("~/Views/Content/Partials/Certifications/_Java.cshtml")
            </li>
        </ul>
    </section>
    <ul>
        <li>
            @Html.Partial("~/Views/Content/Partials/Projects/_JavaSe.cshtml")
        </li>
        <li>
            @Html.Partial("~/Views/Content/Partials/Projects/_JavaEe.cshtml")
        </li>
        <li>
            @Html.Partial("~/Views/Content/Partials/Projects/_SecurityGroups.cshtml")
        </li>
    </ul>
</section>